.container{
    background-color: #f6ecea;
    width:400px;
    margin: 0 auto;
    box-shadow: 10px 5px 50px 10px #61091e;
    text-align: center;
}

.c2{
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.c3{
    padding-bottom: 3%;
}

.section{
    text-align: left;
    padding-left: 5%;
    color: #61091e;
}


ul{
    list-style-type: none;
    padding: 0% 20% 5%;
    color:#61091e;
    font-size: 20px;
}

h2{
    text-align: center;
    padding:5% 0% 0%;
    color:#61091e;
}

.deadPerson{
    width:90%;
}

.picture{
    width:70%;
}

.importantNote{
    color:#61091e;
    padding:0% 5%;
}

body{
    background:url("background.png");
}

a{
    color:#61091e
}

h2:hover{
    color:#b02b2b;
    transition: 3s;
}

a:hover{
    color:#b02b2b;
    transition: 3s;
}

.Others:hover{
    color:darkblue;
    transition: 10s;
}

.Killer:hover{
    color:#b02b2b;
    transition: 20s;
}

@media(min-width:600px){
    .c1{
        width:600px;
    }

    .c2{
        width:700px;
    }

    .sections{
        display: flex;
    }

    .s1{
        width:50%;
    }
    .s2{
        width:50%
    }

    .c3{
        width:600px;
    }
}